[gcode_macro prime_active_tool]
gcode:
    {% set tool = params.T|int %}
    RESPOND MSG="Tool: {tool}"
    # Print the perimeter and left side with T0
    {% if tool == 0 %}
      _PRIME_LEFT
    {% else %}
      _PRIME_RIGHT
    {% endif %}

[gcode_macro _prime_left]
gcode:
  G21 ; set units to millimeters
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion
  ; Filament gcode
  M107
  ;LAYER_CHANGE
  ;Z:0.2
  ;HEIGHT:0.2
  G1 E-.75 F3600
  G1 Z.2 F18000
  G1 X10 Y80
  G1 Z.2
  G1 E.75 F1800
    M204 S2000
  ;TYPE:Skirt/Brim
  ;WIDTH:0.56
  G1 F3000
  G0 Z0.4
  G91
  G1 X100 E20 F1000 
  G90

[gcode_macro _prime_right]
gcode:
  G21 ; set units to millimeters
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion
  ; Filament gcode
  M107
  ;LAYER_CHANGE
  ;Z:0.2
  ;HEIGHT:0.2
  G1 E-.75 F3600
  G1 Z.2 F18000
  G1 X244.771 Y90
  G1 Z.2
  G1 E.75 F1800
  M204 S2000
  ;TYPE:Skirt/Brim
  ;WIDTH:0.56
  G1 F3000
  G0 Z0.4
  G1 X144 E20 F1000 
  G90